.input-incorrect{
	border: 1px solid red;
}

.error{
	display: none;
}
.error-show{
	display: block;
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	

}
@media (min-width: 480px) and (max-width: 620px) {
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	

}