@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300,900);

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon/icomoon.eot?2ouqh6');
  src:url('fonts/icomoon/icomoon.eot?#iefix2ouqh6') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?2ouqh6') format('truetype'),
    url('fonts/icomoon/icomoon.woff?2ouqh6') format('woff'),
    url('fonts/icomoon/icomoon.svg?2ouqh6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;  
  margin-right: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-calling3:before {
  content: "\e60c";
}
.icon-certification:before {
  content: "\e60d";
}
.icon-comment43:before {
  content: "\e60e";
}
.icon-folder63:before {
  content: "\e60f";
}
.icon-medical96:before {
  content: "\e610";
}
.icon-money243:before {
  content: "\e611";
}
.icon-phone54:before {
  content: "\e612";
}
.icon-print5:before {
  content: "\e613";
}
.icon-caravan1:before {
  content: "\e604";
}
.icon-cart19:before {
  content: "\e605";
}
.icon-dollar9:before {
  content: "\e606";
}
.icon-frontal19:before {
  content: "\e607";
}
.icon-loading1:before {
  content: "\e608";
}
.icon-locator:before {
  content: "\e609";
}
.icon-pin67:before {
  content: "\e60a";
}
.icon-weight41:before {
  content: "\e60b";
}
.icon-plus:before {
  content: "\e603";
}
.icon-trash:before {
  content: "\e600";
}
.icon-settings:before {
  content: "\e601";
}
.icon-params:before {
  content: "\e602";
}

html,
body {
	height: 100%;
	min-height: 100%;

	font-family: 'Raleway', sans-serif;
	color: #2e2e2e;
  -webkit-font-smoothing: antialiased;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* reset bstp */
.modal-content{
  border-radius: 0;                               
}
.modal-open {
  padding-right: 0 !important;
}
.form-control{
  border-radius: 0;
}
textarea.form-control {
  resize: none;
}
.breadcrumb{
  border-radius: 0;
  float: left;
  width: 100%;

  background: #555555;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 15px 12px;
}
  .breadcrumb .active{
    color: #aaaaaa;
  }
  .breadcrumb a{
    color: #fff;
    text-decoration: underline;

    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
    .breadcrumb a:hover{
      color: #fbc02d;
      text-decoration: none;
    }
  .breadcrumb .print{
    float: right;
    color: #fff;
    cursor: pointer;
  }
    .breadcrumb .print:before,
    .breadcrumb .select:before{
      content: ' ';
    }
    .breadcrumb .print:hover i{
      color: #fbc02d;
    }
    .breadcrumb .print i{
      font-size: 20px;

      -webkit-transition: color .3s ease-in-out;
      -o-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out;
    }
  .breadcrumb .select{
    float: right;
  }
/* animate css*/
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
