.body-modal > form > div{
	margin-bottom: 15px;
}
.attach-input > input, .attach-input > p{
	width: 70%;
}
.attach-input > button{
	width: 15%;
}

.attach-input > label{
	width: 100%;
}
.checkbox-block{
	margin-top: 15px;
}
.checkbox-block > label{
	font-weight: normal;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.div-loading{
	position: fixed;
	z-index: 1000000000;
	background-image: url("/public/img/giphy.gif");
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-color: rgba(128, 128, 128, 0.38);
	background-position: 50%;
}
