.body-modal > form > div{
	margin-bottom: 15px;
}
.attach-input > input, .attach-input > p{
	width: 70%;
}
.attach-input > button{
	width: 15%;
}

.attach-input > label{
	width: 100%;
}
.checkbox-block{
	margin-top: 15px;
}
.checkbox-block > label{
	font-weight: normal;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.div-loading{
	position: fixed;
	z-index: 1000000000;
	background-image: url("/public/img/giphy.gif");
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-color: rgba(128, 128, 128, 0.38);
	background-position: 50%;
}
.broker-rate{
	font-size: 19px;
	color: #AAAAAA;
	line-height: 17px;
	text-align: center;
}
.broker-rate i{
	cursor: pointer;
}
.active-rate{
	color: #FBC02D;
}
.shipping-time *{
	float:left;
	width: 100%;
}
.shipping-time button{
	width: 15%;
	height: 34px;
}
.shipping-time input{
	width: 85%;
}
.pac-container{
	z-index: 100000!important;
}
.list-place span{
	cursor: pointer;
	height: auto;
	padding: 10px;
	margin-top: 5px;
}
.list-place span:hover{
	background-color: rgba(193, 188, 186, 0.18);
}
.list-place i{
	margin-right: 5px;
}



