

/*content*/
.history-content{
		border: solid 1px #aaaaaa;
	}
        h4 {
            background: #555555 ;
            padding: 7px 15px;
            margin: 0;
            border: solid 1px #aaaaaa;
            border-bottom: none;
            cursor: pointer;
            color: #fff;
        }
        table {
            padding: 10px 15px 20px;
            display: none;
        }
        h2 {
            text-align: center;
        }
        h4:hover {
            background-color: #aaaaaa;
        }
.company-name{
	width: 30%;
}        
.description{
	width: 60%;
}

#frmFile {
	border-top:#F0F0F0 2px solid;
	background:#FAF8F8;
	padding-left:10px;
	
}
#myFile{

	margin-top: 10px;
	padding-left:10px;

}
.file_error{
	padding-left: 10px;
	color: #FF0000;
}
.file-name{
	color:#0000FF;
	display: block;
	padding-left: 10px;
	padding-top: 5px;
}
.file-submit{
	float: right;
	margin-top: 20px;
}
.msg_error{
	color: #FF0000;
    display: block;
    padding-left: 10px;
    font-style: italic;
}
#repair-table .global_table th, .global_table td{
    vertical-align: top!important;
}
.remove-btn{
	padding-left: 10px;
	/*background: none;*/
	border: none;
	/*color: #FF0000;*/
	background: url(../../public/img/delete.png) no-repeat;
	background-size: contain;
	height: 15px;
    margin-left: 20px;
}
/*content*/
fileDataSent['base64'] = input;
			        	fileDataSent['name'] = input.name;
			        	fileDataSent['type'] = input.type;

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	

}
@media (min-width: 480px) and (max-width: 620px) {
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	

}