.shipping_table{}
	.shipping_table caption{
		text-align: right;
	}
	.shipping_table td{
		vertical-align: top !important;
	}
		.shipping_table td.vcenter{
			vertical-align: middle !important;
		}
	.shipping_table > div{
		margin-bottom: 10px;
	}
	.shipping_table img{
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 0 10px;
	}
	.shipping_table tbody i{
		font-size: 20px;
		display: inline-block;
		/*margin-top: 8px;*/
		margin-right: 8px;
	}
	.shipping_table .model_name{
	}
	.shipping_table .model_type,
	.shipping_table .contact_name{
		color: #aaaaaa;
	}
	.shipping_table .icon-frontal19{
		display: inline-block;
		margin-top: 8px;
		margin-right: 8px;
	}
	.shipping_table td p {
		margin: 0;
	}
	.shipping_table .invoice{
    height: 28px;
    margin: -8px -8px 8px;
    
    line-height: 28px;
    text-align: center;
    color: #fff;
		background: #555555;
	}
	.shipping_table .status{
		padding: 4px;
		background: #fbc02d;
		text-align: center;
	}
	.shipping_table .price-style{
		float: left;
		margin-top:10px;
	}
	.shipping_table .number{
		padding-left: 5px;
	}
		.shipping_table a:hover{
			text-decoration: none;

		}